<h1>投稿返信ページ</h1>
<ul>
 <% @reply.errors.full_messages.each do |rep| %>
  <li><%= rep %></li>
 <% end %>
</ul>


<%= form_for replys_new_path , hennshin:{action: :create} do |f| %>


 <br>
 <%= f.label :message, '投稿' %>
 <p>
 <%= f.text_area :message %>
 </p>
 
 <%= f.submit '返信' %>
 <%= link_to 'Back','/' %>
<% end %>
