<h1>Edit page</h1>
<ul>
 <% @home.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
 <% end %>
</ul>



<%= form_for @home ,message:{action: :update} do |f| %>


 <%= f.label :message, '投稿' %>
 <p>
 <%= f.text_area :message %>
 </p>
 <br>
 <%= f.label :tdate, '日付' %>
 <br>
 <%= tdate = Time.current %>
 <br>
 <%= f.submit '投稿する' , class:"CRUD"%>
<% end %>
