<div class="first">
<h1>Post page</h1>
<ul>
 <% @home.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
 <% end %>
</ul>



<%= form_for @home ,message:{action: :create} do |f| %>
<div class="box17">
 <%= f.label :tdate, '日付' %>
 <br>
 <%= tdate = Time.current %>
 <br>
 </div>
 <div class="aaa">
 <br>
 <%= f.label :message, '投稿' %>
 </div>
 
 <%= f.text_area :message ,size: "100x20" %>
 
 
 <%= f.submit '投稿する', class:"CRUD" %>
<% end %>
</div>