
<ul>
 <% @home.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
 <% end %>
</ul>



<%= form_for @home ,message:{action: :create} do |f| %>
 <%= f.label :message, 'メッセージ' %>
 <p>
 <%= f.text_field :message %>
 </p>
 <br>
 <%= f.label :tdate, '日付' %>
 <br>
 <%= tdate = Time.current %>
 <br>
 <%= f.submit '投稿' %>
<% end %>
