<h1>投稿文検索</h1>
<%= form_with url: search_homes_path, method: :get, local: true do |f| %>
  <%= f.text_field :message %>
  <%= f.submit :search %>
<% end %>
<table>
  <thead>
    <tr>
      <th>検索結果</th>
    </tr>
  </thead>
  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '戻る', homes_path %>