<div class="first">
<h1>Show page</h1>

<div class="box17">
    

<p>
    <strong>Message：</strong>
    <%= @home.message %>
</p>

<p>
    <strong>Date：</strong>
    <%= @home.tdate %>
</p>

</div>
<% r = Reply.where(home_id: @home.id)
r.each do |f|%>
 <p> <%= f.hennshin %>
 </p>
<% end %>

<%= link_to 'Reply', replys_new_path,class:"CRUD" %>
<%= link_to 'Back', '/' ,class:"CRUD"%>
</div>